.drag-drop-box {
  width: 50%;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  background-color: rgb(77, 7, 7);
  border-radius: 30px;
  /* justify-content: center;
  align-items: center; */
}